alias run_discoSnp++.sh='docker run --rm -v /mnt:/mnt gfanz/discosnp'
; alias run_discoSnp++_ML.sh='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/bin/run_discoSnp++_ML.sh" gfanz/discosnp'
; alias run_discoSnpRad.sh='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/bin/run_discoSnpRad.sh" gfanz/discosnp'
; alias 1SNP_per_cluster.py='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/discoSnpRAD/post-processing_scripts/1SNP_per_cluster.py" gfanz/discosnp'
; alias add_cluster_info_to_mapped_vcf.py='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/discoSnpRAD/post-processing_scripts/add_cluster_info_to_mapped_vcf.py" gfanz/discosnp'
; alias filter_by_cluster_size_and_rank.py='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/discoSnpRAD/post-processing_scripts/filter_by_cluster_size_and_rank.py" gfanz/discosnp'
; alias filter_paralogs.py='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/discoSnpRAD/post-processing_scripts/filter_paralogs.py" gfanz/discosnp'
; alias filter_vcf_by_indiv_cov_max_missing_and_maf.py='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/discoSnpRAD/post-processing_scripts/filter_vcf_by_indiv_cov_max_missing_and_maf.py" gfanz/discosnp'
; alias vcf2structure.sh='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/discoSnpRAD/post-processing_scripts/vcf2structure.sh" gfanz/discosnp'
; alias run_VCF_creator.sh='docker run --rm -v /mnt:/mnt --entrypoint "/opt/conda/scripts/run_VCF_creator.sh" gfanz/discosnp'
